# ----------------------------
#  공통 무시 항목
# ----------------------------
# 컴파일 산출물 등
*.class
*.log
*.pyc
*.swp

# macOS, 에디터별
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE 설정
*.iml
*.ipr
*.iws
.idea/
# .vscode/   ← 필요 시에만 언급

# Flutter/Dart/Pub 관련
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android 스크린샷·심볼·맵
app.*.symbols
app.*.map.json

# Android Studio 로컬 빌드 캐시
/android/app/debug
/android/app/profile
/android/app/release

# Android 로컬 설정 파일·캐시
/android/.gradle/
/android/captures/
/android/local.properties

# 루트 레벨 Gradle 캐시
/.gradle/