# ----------------------------
#  공통 무시 항목
# ----------------------------
# 컴파일 산출물 등
*.class
*.log
*.pyc
*.swp

# macOS, 에디터별
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE 설정
*.iml
*.ipr
*.iws
.idea/
# .vscode/   ← 필요 시에만 언급

# Flutter/Dart/Pub 관련
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Flutter build
.flutter-plugins-cache
.packages
.metadata

# iOS build and Xcode
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework/
ios/Flutter/App.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/DerivedData/

# Android build
android/.gradle/
android/app/build/

# IDE folders
.vscode/

# Android 스크린샷·심볼·맵
app.*.symbols
app.*.map.json

# Android Studio 로컬 빌드 캐시
/android/app/debug
/android/app/profile
/android/app/release

# Android 로컬 설정 파일·캐시
/android/.gradle/
/android/captures/
/android/local.properties

# 루트 레벨 Gradle 캐시
/.gradle/
.env

lib/build/ios/XCBuildData/lib/firebase_options.dart
macos/Runner/GoogleService-Info.plist
lib/build/ios/XCBuildData/PIFCache/project/PROJECT@v11_mod=312cb506536c44926b65cfb3d5b2f74e_hash=bfdfe7dc352907fc980b868725387e98plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=0a5cbd223a1c49953c33b59b182eb80f-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=1f4bc0fcddd6b037df05f9f4aca4b94f-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=2ffd6644f1217e17666e168eb01ad8e7-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=4e4934612c268af4a5437aa5f9e3d5b2-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=4eae2f04806d81d68f5e966faf19937a-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=4ee33554dff26912a3e12aa74a1b6657-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=8d5cec56bd4c1d5b35cc9dde55cb2089-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=11e0ebb459464f29a11a02780a707858-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=26f0c7f36370131b9ac469048074b274-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=38c11fcc69524a4c5e080332d6f3d525-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=38f17f08fa61ac2ed19271e980b5d5ea-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=48bbd6f4518fa263432d6d31e34e8393-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=068db65acb3572896a237d9a917853a8-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=69e36908ea366de76dd1bb36bc259612-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=77cf8b86664a555b63a6324eb125cf67-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=077d72837904eeb8c125f2640c545b25-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=95bcde528767a4d0a5a8201933fb9c33-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=95df43aa7fec1563572771fe72b072bf-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=174ad309a685969caba05bee2f702707-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=375f97877ed92c751349901b44f6e0db-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=521bd59111189504e243a36247caa58d-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=538e64b239265e95ee04a1349faf6326-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=639c490a4fa6c8886cae11927543e839-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=831ef3919814d6b5c763447b7d846724-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=848a810a5a295e43c05962a90f3f06fe-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=1749bff6de65cfb6079259c23707e554-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=1857b626b1455562127691ac37750647-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5227fec5581d47e6dea239b6798be8c4-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=26765c95aca69a051f36205ce83da81d-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=752254cd54c3df43d68edb1d6f41c29d-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=211675020fd6abc6c89922258a4532b0-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=331781034cc07b060eeefe5416319817-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=51381328788cd74d169e0bb28b0176df-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a2e388b5ab77e5a3ce8406ff8f1a5bce-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=bf8838af16f3e381e40be4e73c87caaa-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c8fbb1271ce22f6ba8a66244fbff353b-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c0050cd977a1a2c06a535bfbc86e98bc-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c0160d05813eecc05873fcd4f8f01518-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c318f57ff062b60caa6d5a00a3838ddd-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d0d3c64664371466b8e34a889624741c-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d85813a80e9ddfaae37a97fad35043aa-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e79920aea8df26117891b263704a1565-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=eceb3355070f7fee21444254ab1d1158-json
lib/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=ef81191ebf64b7bd159067b664d5ec86-json
lib/build/ios/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=(null)_subobjects=bd2d10e49ffc964b72f9ac5d77540278-json
lib/firebase_options.dart
macos/Runner/GoogleService-Info.plist
