gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# ----------------------------
#  반드시 커밋해야 할 Gradle Wrapper
# ----------------------------
# Unix/Windows용 실행 스크립트
!gradlew
!gradlew.bat
# Wrapper JAR (버전 고정용)
!gradle-wrapper.jar
